<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="calendar.css">
    <title>calendar</title>
</head>

<body>

    <!--navbar-->
    <nav class="navbar navbar-light bg-info">
        <form class="container-fluid justify-content-start">
            <a href="/index"><button class="btn btn-outline-success me-2" type="button">Main Content</button></a>
            <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
        </form>
    </nav>
    <div class="container">
        <div class=" col calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">
                    <h1></h1>
                    <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>lun</div>
                <div>mar</div>
                <div>mer</div>
                <div>jeu</div>
                <div>ven</div>
                <div>sam</div>
                <div>dim</div>
            </div>
            <div class="days">
                <div class="weekend"></div>

            </div>
        </div>
        <div class="col buttons">
            <div class="col-6">



                <%for(i in int1) { %>

                    <% if(busyint.includes(int1[i])) {%>

                        <a href="#" class="btn btn-danger customBtn disabled" role="button" aria-pressed="true">
                            <%=int1[i]%>
                        </a>
                        <%}else{%>
                            <a href="#" onclick="g('<%=int1[i]%>')" class="btn btn-success customBtn" role="button"
                                aria-pressed="true">
                                <%=int1[i]%>
                            </a>
                            <%}%>
                                <%}%>
            </div>

            <div class="col-6">

                <%for(i in int2) { %>

                    <% if(busyint.includes(int2[i])) {%>

                        <a href="#" class="btn btn-danger customBtn disabled" role="button" aria-pressed="true">
                            <%=int2[i]%>
                        </a>
                        <%}else{%>
                            <a href="#" onclick="g('<%=int2[i]%>')" class="btn btn-success customBtn" role="button"
                                aria-pressed="true">
                                <%=int2[i]%>
                            </a>
                            <%}%>
                                <%}%>

                <!--
                <a href="#" onclick="g('13:00 - 13:30')" class="btn btn-success customBtn" role="button"
                    aria-pressed="true">13:00 - 13:30</a>
                <a href="#" onclick="g('13:30 - 14:00')" class="btn btn-success customBtn" role="button"
                    aria-pressed="true">13:30 - 14:00</a>
                <a href="#" onclick="g('14:00 - 14:30')" class="btn btn-success customBtn" role="button"
                    aria-pressed="true">14:00 - 14:30</a>
                <a href="#" onclick="g('14:30 - 15:00')" class="btn btn-success customBtn" role="button"
                    aria-pressed="true">14:30 - 15:00</a>
                <a href="#" onclick="g('15:00 - 15:30')" class="btn btn-success customBtn" role="button"
                    aria-pressed="true">15:00 - 15:30</a>
                <a href="#" onclick="g('15:30 - 16:00')" class="btn btn-success customBtn" role="button"
                    aria-pressed="true">15:30 - 16:00</a>
                <a href="#" onclick="g('16:00 - 16:30')" class="btn btn-success customBtn" role="button"
                    aria-pressed="true">16:00 - 16:30</a>
                <a href="#" onclick="g('16:30 - 17:00')" class="btn btn-success customBtn" role="button"
                    aria-pressed="true">16:30 - 17:00</a>

                -->
            </div>
        </div>
        <div class="col">
            <!--form test begin-->
            <section class="bg-form2">
                <div class="formulaire">
                    <div class="form text-white">
                        <div class="row  m-0 d-flex flex-column">
                            <div class="col-md-10 offset-md-3 m-0">
                                <div class="form">
                                    <h1 class="text-left">Prendre rendez-vous</h1><br>
                                    <form action="/calendar" method="POST">
                                        <div class="form-group">
                                            <label for="inputName">date</label>
                                            <input id="datevalue" type="text" name="date"
                                                class="form-control customInput" onkeydown="return false"
                                                placeholder="date" value="<%=date%>" required>

                                            <label for="inputName">heure </label>
                                            <input id="heurevalue" type="text" name="heure"
                                                class="form-control customInput" onkeydown="return false"
                                                placeholder="heure" value="" required>
                                        </div>
                                        <div class="form-group ">
                                            <label for="inputName">Nom</label>
                                            <input type="text" name="name" class="form-control" required>
                                        </div>
                                        <div class="form-group ">
                                            <label for="inputEmail">Email</label>
                                            <input type="text" name="email" class="form-control" required>
                                        </div>
                                        <div class="form-group ">
                                            <label for="inputTel ">Téléphone</label>
                                            <input type="tel" name="tel" class="form-control" required>
                                        </div>

                                        <div class="d-grid gap-2 col-6 mx-auto p-3">
                                            <button class="btn btn-outline-danger submitBtn"
                                                type="submit">submit</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section><br>
            <!--form test ends-->
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>